body{
    margin: 0 auto;
    background-color: white;
}

.menu ul li a {
    display: inline-block;
    text-decoration: none;
}

.menu{
    position: fixed;
    background-color: rgb(70, 70, 240);
    width: 100%;
    height: max-content;  
    z-index: 999;
         
}
.menu ul li a:hover{
    color: black;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.menu li ul a:hover{
    border: 2px;
    border-bottom: 2px blue;
    color: red ;
}
.menu li{
    position: relative;
    text-transform: uppercase;
    list-style-type: none;
    display: inline;
    padding-left: 4%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    

}

a{
    text-decoration: none;
    color:white;
}
.imagem{
    margin-left: -3%;
    padding-left: 5%;

    
}
.background{
    position: absolute;
    margin-top: 6%;    
    width: 99%;
    height: max-content;
}
.titulo{
    position: relative;
    font-size: 40px;
    text-align: center;
    
}
.coordLeft{
   float: left;
   width: 50%;
}
hr{
    border-width: 2px;
    border-color:black;
    border-style: solid;
    height: 2px;
}
.bolsistas{
    float: right;
    width: 50%;
}
.lista{
    display: block;
}
.nome{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}
.descricao{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.hrsimple{
    border-width: 1px;
    border-color:black;
    border-style: dotted;
    height: 1px;
}

.listaEx{
    list-style-type: none;
    text-align: justify;
    
}
.footer{
    position: absolute;
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    height: 10%;
    margin-top: 75%;
    width: 100%;
    background-color: #3174A8;
}

