*{
    margin: 0;
}
body{
    background-color:white;
}
.menu ul li a {
    display: inline-block;
    text-decoration: none;
}

.menu{
    position: fixed;
    background-color: rgb(70, 70, 240);
    width: 100%;
    height: 100px;  
    z-index: 1;
         
}
.menu ul li a:hover{
    color: black;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.menu li ul a:hover{
    border: 2px;
    border-bottom: 2px blue;
    color: red ;
}
li{
    position: relative;
    text-transform: uppercase;
    list-style-type: none;
    display: inline;
    padding-left: 4%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    top:40px;
}
.imagem{
    float: left;
    margin: 10px 10px;
    
}
a{
    text-decoration: none;
    color:white;
}
.formulario{
    position: absolute;
    margin-top: 100px;
    margin-left: 45%;
    padding-right: 5%;    
}

input{
    display: block;
    border: 1px solid black;
}
input[type=text],
input[type=email],
textarea{
    border-radius: 5px;
}

/*h1{
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 10%;
    font-family: 'Helvetica';
    
}*/
.formulario p{
    font-size: 20px;
    font-family: 'Helvetica';
    display: block;
    margin-top: 10px;
}

textarea {
    display: block;
    border: 1px solid black;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #999;
}
.footer{
    float: left;
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    height: 50px;
    margin-top:50%;
    width: 100%;
    background-color: #3174A8;
}
.enviar{
    display: inline;    
    font-size:20px;
    font-family: 'Helvetica';
    margin-top: 10px;
    
}
.formulario h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Helvetica';
}

